name: Tag and publish main
on:
  push:
    branches:
      - main

jobs:
  update_badges:
    uses: AllenNeuralDynamics/.github/.github/workflows/util-update-badges.yml@main
    with:
      working-directory: aind-metadata-service-server
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
  get_version:
    name: Get version
    needs: update_badges
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.output_version.outputs.new_version }}
    steps:
      - uses: actions/checkout@v4
      - name: Get version
        id: output_version
        run: |
          ls .
          init_file="./aind-metadata-service-server/src/aind_metadata_service_server/__init__.py"
          pkg_version=$(grep -Po '[0-9]+\.[0-9]+\.[0-9]+' "$init_file")
          echo "new_version=$pkg_version" >> "$GITHUB_OUTPUT"
  build_client:
    runs-on: ubuntu-latest
    needs: get_version
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.default_branch }}
          fetch-depth: 0
          token: ${{ secrets.SERVICE_TOKEN }}
      - name: Pull latest changes
        run: git pull origin main
      - name: Update version
        run: |
          sed -i --debug --expression="s|packageVersion.*|packageVersion\": \"${{ needs.get_version.outputs.new_version }}\"|" openapirc.json
          sed -i --debug --expression="s|packageVersion.*|packageVersion\": \"${{ needs.get_version.outputs.new_version }}\"|" openapirc_async.json
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: | 
          python -m pip install -e aind-metadata-service-server --no-cache-dir
          python -m pip install toml
      - name: Generate OpenAPI file
        run: |
          python scripts/generate_openapi.py
      - name: Generate Python Client
        uses: openapi-generators/openapitools-generator-action@v1.5.0
        with:
          generator: python
          generator-tag: v7.13.0
          openapi-file: openapi.json
          config-file: openapirc.json
      - name: Handle files
        run: |
          rm -rf aind-metadata-service-client
          mv python-client aind-metadata-service-client
          rm -rf aind-metadata-service-client/.github
          rm -f aind-metadata-service-client/.gitignore
          rm -f aind-metadata-service-client/.gitlab-ci.yml
          rm -f aind-metadata-service-client/git_push.sh
          rm -f aind-metadata-service-client/.travis.yml
      - name: Generate Python Async Client
        uses: openapi-generators/openapitools-generator-action@v1.5.0
        with:
          generator: python
          generator-tag: v7.13.0
          openapi-file: openapi.json
          config-file: openapirc_async.json
      - name: Handle async files
        run: |
          rm -rf aind-metadata-service-async-client
          mv python-client aind-metadata-service-async-client
          rm -rf aind-metadata-service-async-client/.github
          rm -f aind-metadata-service-async-client/.gitignore
          rm -f aind-metadata-service-async-client/.gitlab-ci.yml
          rm -f aind-metadata-service-async-client/git_push.sh
          rm -f aind-metadata-service-async-client/.travis.yml
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "ci: add clients [skip actions]"
          add: '["openapirc.json","aind-metadata-service-client","openapirc_async.json","aind-metadata-service-async-client"]'
  update_tag:
    needs: build_client
    uses: AllenNeuralDynamics/.github/.github/workflows/release-tag.yml@main
    with:
      working-directory: aind-metadata-service-server
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
  publish_server:
    needs: update_tag
    uses: AllenNeuralDynamics/.github/.github/workflows/release-publish-docker-image.yml@main
    with:
      docker-tag: ${{ needs.update_tag.outputs.new_version }}
      image-name: aind-metadata-service-server
      working-directory: aind-metadata-service-server
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
  publish_client:
    runs-on: ubuntu-latest
    needs: update_tag
    defaults:
      run:
        working-directory: ./aind-metadata-service-client
    steps:
      - uses: actions/checkout@v4
      - name: Pull latest changes
        run: git pull origin main
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install --upgrade setuptools wheel twine build
          python -m build
          twine check dist/*
      - name: Publish on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.12
        with:
          packages-dir: ./aind-metadata-service-client/dist
          password: ${{ secrets.AIND_PYPI_TOKEN }}
  publish_async_client:
    runs-on: ubuntu-latest
    needs: update_tag
    defaults:
      run:
        working-directory: ./aind-metadata-service-async-client
    steps:
      - uses: actions/checkout@v4
      - name: Pull latest changes
        run: git pull origin main
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install --upgrade setuptools wheel twine build
          python -m build
          twine check dist/*
      - name: Publish on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.12
        with:
          packages-dir: ./aind-metadata-service-async-client/dist
          password: ${{ secrets.AIND_PYPI_TOKEN }}
