name: Publish dev
on:
  push:
    branches:
      - dev

jobs:
  compute-docker-tag:
    runs-on: ubuntu-latest
    outputs:
      docker_tag: ${{ steps.compute-tag.outputs.docker_tag }}
    steps:
      - uses: actions/checkout@v5
      - name: Compute new docker image tag
        id: compute-tag
        run: |
          echo "sha_short=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"
          echo "branch=$(echo ${GITHUB_REF_NAME})" >> "$GITHUB_ENV"
          echo "docker_tag=$(echo ${GITHUB_REF_NAME})-$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_OUTPUT"
  publish-image:
    needs: compute-docker-tag
    uses: AllenNeuralDynamics/.github/.github/workflows/release-publish-docker-image.yml@main
    with:
      default-branch: dev
      working-directory: aind-metadata-service-server
      image-name: aind-metadata-service-server
      docker_tag: ${{ needs.compute-docker-tag.outputs.docker_tag }}
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
