name: Run checks in main and release

on:
  pull_request:
    branches:
      - '*release*'
      - main

jobs:
  tests:
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12' ]
    uses: AllenNeuralDynamics/.github/.github/workflows/test-ci.yml@main
    with:
      working-directory: aind-metadata-service-server
      python-version: ${{ matrix.python-version }}
  verify_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check version incremented
        run: |
          init_file="./aind-metadata-service-server/src/aind_metadata_service_server/__init__.py"
          pkg_version=$(grep -Po '[0-9]+\.[0-9]+\.[0-9]+' "$init_file")
          latest_tag=$(git ls-remote --tags --refs --sort="v:refname" | tail -n1 | sed 's/.*\///')
          echo "Checking pkg_version v$pkg_version and latest_tag $latest_tag"
          if [ "$latest_tag" == "v$pkg_version" ]
          then
            exit 1
          fi
          echo "Versions are different"
